form {
  margin: 0 auto;
  width: 550px;
}

div {
  margin: 1rem 0;
}

input,
textarea {
  padding: 4px;
  width: 100%;
}

textarea {
  height: 200px;
}

button {
  background-color: #00d1b2;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
